.career__page {
  color: var(--active-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--comment-page-background-color);
  margin: 0;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  min-height: 100%;
}

.career__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 980px;
}

.career__content-section {
  position: relative;
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 8px;
  padding: 0 18px 18px 18px;
}

.career__content-section_title {
  padding: 0;
  margin: 0 0 10px 0;
  z-index: 1;
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.career__content-section_background {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 200%;
  background-image: url('../components/BGL.png');
  background-repeat: repeat;
  box-shadow: 0 0 15px 15px var(--comment-page-background-color) inset;
  filter: blur(12px);
}

.career__item {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
}

.career__item-date-container,
.career__item-company-container,
.career__item-position-container {
  flex-basis: 32%;
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.career__item-date-container {
  flex-grow: 1;
  flex-shrink: 2;
}

.career__item-company-container,
.career__item-position-container {
  flex-grow: 2;
  flex-shrink: 1;
}

.career__text-position_background,
.career__text-company_background,
.career__text-date_background {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  padding: 5px;
}

.career__text-date,
.career__text-company,
.career__text-position {
  color: var(--active-text-color);
  padding: 0;
  margin: 0;
}

.career__ag1-company1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 30vh;
  z-index: 1;
}

.career__ag2-company1 {
  position: absolute;
  right: 0;
  top: 33%;
  width: 40vh;
  z-index: 1;
}

.career__ag3-company1 {
  position: absolute;
  left: 0;
  top: 52%;
  width: 40vh;
  z-index: 1;
}

.career__glass1-company2 {
  position: absolute;
  top: -15%;
  right: -10%;
  width: 33vh;
  z-index: 1;
}
.career__glass2-company2 {
  position: absolute;
  top: 25%;
  width: 33vh;
  z-index: 1;
  animation: horse-animation 2s ease-in-out infinite;
}
.career__glass3-company2 {
  position: absolute;
  top: 60%;
  width: 20vh;
  z-index: 1;
  animation: glass-animation 4s ease-in-out infinite;
}

.career__pillBG1-company3 {
  position: absolute;
  left: 0;
  bottom: 50%;
  width: 60vh;
  z-index: 2;
}

.career__pillBG2-company3 {
  position: absolute;
  right: 0;
  bottom: 50%;
  width: 60vh;
  z-index: 1;
}

.career__pillBG3-company3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 30vh;
  z-index: 3;
}

.career__ost1-company4 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 90%;
  z-index: 3;
}

.career__hellm1-company5 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  z-index: 3;
}

.career__hellm2-company5 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  z-index: 3;
}

.career__rwd-company6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 40vh;
  z-index: 3;
}

.career__img {
  filter: brightness(80%);
  transition: filter 0.2s ease-in-out;
}

.career__img:hover {
  filter: brightness(95%);
  transition: filter 0.2s ease-in-out;
}

.career__scroll-section {
  width: 100%;
  position: sticky;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  z-index: 4;
}

.career__button-section {
  position: absolute;
  bottom: 22px;
  height: 40vh;
  width: 100%;
  z-index: 4;
}

@keyframes horse-animation {
  0% {
    transform: rotate(-0.03turn);
  }
  25% {
    transform: rotate(0turn);
  }
  50% {
    transform: rotate(0.03turn);
  }
  75% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(-0.03turn);
  }
}

@keyframes glass-animation {
  0% {
    transform: rotate(0.05turn);
  }
  25% {
    transform: rotate(0turn);
  }
  50% {
    transform: rotate(-0.05turn);
  }
  75% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(0.05turn);
  }
}

@media only screen and (max-width: 760px) {
  .career__hellm1-company5 {
    bottom: 10%;
    left: -5%;
  }
  .career__hellm2-company5 {
    bottom: 10%;
    right: -5%;
  }
}

@media only screen and (max-width: 580px) {
  .career__pillBG3-company3 {
    top: 20%;
  }
  .career__hellm1-company5 {
    bottom: 20%;
    left: -10%;
  }
  .career__hellm2-company5 {
    bottom: 20%;
    right: -10%;
  }
  .career__rwd-company6 {
    top: 10%;
  }
}

@media only screen and (max-width: 480px) {
  .career__text-date,
  .career__text-company,
  .career__text-position {
    font-size: 12px;
  }
  .career__pillBG1-company3 {
    width: 30vh;
  }
  .career__pillBG2-company3 {
    width: 30vh;
  }
  .career__pillBG3-company3 {
    top: 30%;
  }
  .career__hellm1-company5 {
    bottom: 25%;
    left: -10%;
  }
  .career__hellm2-company5 {
    bottom: 25%;
    right: -10%;
  }
}

@media only screen and (max-width: 340px) {
  .career__text-date,
  .career__text-company,
  .career__text-position {
    font-size: 10px;
  }
  .career__ag1-company1 {
    left: -20%;
  }
  .career__ag2-company1 {
    right: -20%;
  }
  .career__ag3-company1 {
    left: -20%;
  }
  .career__glass1-company2 {
    right: -50%;
  }
  .career__glass2-company2 {
    position: absolute;
    top: 25%;
    width: 33vh;
    z-index: 1;
    animation: horse-animation 2s ease-in-out infinite;
  }
  .career__hellm1-company5 {
    bottom: 35%;
    left: -10%;
  }
  .career__hellm2-company5 {
    bottom: 35%;
    right: -10%;
  }
  .career__rwd-company6 {
    top: 15%;
  }
}
