.career__page {
  color: var(--active-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--comment-page-background-color);
  margin: 0;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  min-height: 100%;
}

.career__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 980px;
}

.career__title {
  padding: 0;
  margin: 0 0 10px 0;
}

.career__content-section {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.career__scroll-section {
  width: 100%;
  position: sticky;
  bottom: 0;
}

.career__button-section {
  position: absolute;
  bottom: 22px;
  height: 75vh;
  width: 100%;
}
