.comment__page {
  margin: 0;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  background-color: var(--comment-page-background-color);
  height: 100%;
}

.comment__container {
  display: flex;
  flex-direction: column;
  width: 980px;
}

.comment__section {
  margin-bottom: 10px;
}

.comment__section:last-child {
  margin-bottom: 0px;
}

.comment__title-section {
  padding: 10px;
  background-color: var(--sidebar-background-color);
  display: inline-block;
  border-radius: 8px;
  margin: 15px 0;
  box-shadow: 8px 8px 8px 0px rgba(7, 24, 9, 0.5);
}

.comment__title {
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
}

.comment__comments-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
