.home__page {
  color: var(--active-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding: 5px;
  background-color: var(--main-background-color);
  display: flex;
  justify-content: center;
  height: 100%;
}

.home__container {
  display: flex;
  flex-direction: column;
  width: 980px;
}

.home__page-item {
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home__text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__h1 {
  padding: 0px;
  margin: 25px 0;
}

.home__paragraph {
  padding: 0px;
  margin: 25px 0;
}

.home__main-container {
  flex-wrap: wrap;
}

.home__avatar {
  background-color: var(--main-background-color);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 62%;
  flex-grow: 1;
  flex-shrink: 2;
  order: -1;
  animation: topLeftToRight 0.8s linear;
}

.home__avatar img {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  display: block;
  flex-basis: 63%;
  flex-grow: 2;
  flex-shrink: 1;
}

.home__name {
  animation: bottomRightToLeft 0.8s linear alternate;
}

.home__main-text {
  background-color: var(--main-background-color);
  flex-basis: 31%;
  flex-grow: 1;
  flex-shrink: 2;
  order: 0;
}

.home__main_paragraph {
  animation: topRightToLeft 0.8s linear;
}

.home__education-container {
  background-color: var(--background-color);
  order: 1;
}

.home__education-img {
  flex-basis: 31%;
  flex-grow: 1;
  flex-shrink: 2;
  position: relative;
}

.home__education-img_body {
  animation: topRightToLeft 0.8s linear;
  position: relative;
  top: 0%;
  width: 100%;
  left: 0%;
  z-index: 100;
}

.home__education-img_head {
  animation: bottomRightToLeft 0.8s linear;
  width: 100%;
  z-index: 0;
  position: absolute;
  top: 20%;
  width: 40%;
  left: 29%;
}

.home__education-text {
  flex-basis: 63%;
  flex-grow: 2;
  flex-shrink: 1;
}

.home__education-title {
  animation: topLeftToRight 0.8s linear;
}

.home__education_paragraph {
  animation: bottomLeftToRight 0.8s linear;
}

.home__summary-container {
  background-color: var(--main-background-color);
  order: 2;
}

.home__summary-img {
  flex-basis: 31%;
  flex-grow: 1;
  flex-shrink: 2;
  position: relative;
}

.home__summary-img_body {
  position: relative;
  top: 0%;
  width: 100%;
  left: 0%;
  z-index: 100;
}

.home__summary-text {
  flex-basis: 63%;
  flex-grow: 2;
  flex-shrink: 1;
}

.home__languages-container {
  background-color: var(--background-color);
  order: 3;
}

.home__languages-img {
  flex-basis: 63%;
  flex-grow: 2;
  flex-shrink: 1;
  position: relative;
}

.home__languages-img_body {
  position: relative;
  top: 0%;
  width: 100%;
  left: 0%;
  z-index: 100;
}

.home__languages-text {
  flex-basis: 31%;
  flex-grow: 1;
  flex-shrink: 2;
}

.home__skills-container {
  order: 4;
}

.home__skills-img {
  position: relative;
  flex-basis: 47%;
  flex-grow: 1;
  flex-shrink: 1;
}

.home__skills-img_body {
  position: relative;
  top: 0%;
  width: 100%;
  left: 0%;
  z-index: 100;
}

.home__skills-text {
  flex-basis: 47%;
  flex-grow: 1;
  flex-shrink: 1;
}

.home__chips-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  flex-grow: 1;
}

.chip {
  background-color: var(--background-color);
  margin-right: 5px;
  flex-shrink: 1;
  height: 30px;
  border-radius: 15px;
  box-sizing: border-box;
  border: 1px solid rgb(179 175 216);
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.chip:last-child {
  margin-right: 0px;
}

.chip-icon {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 10px;
  background-color: var(--active-color);
  flex-basis: content;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background-color);
}

.chip-text {
  margin-right: 10px;
  flex-basis: content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__qualities {
  background-color: var(--background-color);
  order: 5;
}

.home__qualities-text {
  flex-basis: 31%;
  flex-grow: 1;
  flex-shrink: 2;
}

.home__qualities-img {
  flex-basis: 63%;
  flex-grow: 2;
  flex-shrink: 1;
}

.home__qualities-img_body {
  position: relative;
  top: 0%;
  width: 100%;
  left: 0%;
  z-index: 100;
}

@keyframes bottomLeftToRight {
  0% {
    transform: translateX(-100%) translateY(100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

@keyframes topLeftToRight {
  0% {
    transform: translateX(-100%) translateY(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

@keyframes bottomRightToLeft {
  0% {
    transform: translateX(100%) translateY(100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

@keyframes topRightToLeft {
  0% {
    transform: translateX(100%) translateY(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

/*
.home__experiance-container {
  background-color: var(--background-color);
  flex-basis: 63%;
  flex-grow: 2;
  flex-shrink: 1;
  order: 6;
}

.home__experiance-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home__experiance-item-1 {
  font-weight: bold;
  flex-basis: 48%;
}

.home__experiance-item-2 {
  flex-basis: 48%;
}

.home__h3 {
  background-color: var(--background-hover-color);
  border-radius: 20px;
  margin: 0;
  padding: 5px;
}

.home__paragraph {
  margin: 0;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .home__bio-education {
    flex-basis: 94%;
    flex-grow: 1;
    flex-shrink: 0;
  }

  .home__summary-container {
    flex-basis: 94%;
    flex-grow: 1;
    flex-shrink: 0;
  }

  .home__skills-container {
    flex-basis: 94%;
    flex-grow: 1;
    flex-shrink: 0;
    order: 3;
  }

  .home__skills-container h3 {
    margin-bottom: 5px;
  }

  .home__languages-container {
    order: 4;
  }

  .home__qualities {
    flex-basis: 63%;
    flex-grow: 2;
    flex-shrink: 1;
    order: 5;
  }

  .home__experiance-container {
    flex-basis: 94%;
    flex-grow: 1;
    flex-shrink: 0;
  }
}

@media only screen and (max-width: 480px) {
  .home__page-item {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 0;
  }
} */
