.grid__container {
  display: grid;
  grid-template-areas:
    'header header'
    'sidebar main-content';
  grid-template-columns: auto 5fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  width: 100vw;
  grid-gap: 5px;
  margin: 0px;
}

.grid__header {
  grid-area: header;
}

.grid__sidebar {
  grid-area: sidebar;
}

.grid__main-content {
  grid-area: main-content;
  text-align: center;
}
