.grid__container {
  display: grid;
  grid-template-areas: 'sidebar main-content';
  grid-template-columns: auto 5fr;
  grid-template-rows: 1fr;
  height: 100vh;
  margin: 0px;
}

.grid__sidebar {
  grid-area: sidebar;
}

.grid__main-content {
  grid-area: main-content;
  text-align: center;
}

.home__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
  background-color: rgb(179 175 216);
}

.home__page-item {
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
}

.home__avatar {
  overflow: hidden;
  flex-basis: 15%;
  flex-grow: 1;
  flex-shrink: 0;
  order: -1;
}

.home__name {
  font-size: 2vw;
  background-color: hotpink;
  flex-basis: 20%;
  flex-grow: 1;
  order: 0;
  flex-shrink: 2;
}

.home__bio-education {
  background-color: none;
  padding: 0;
  flex-basis: 40%;
  flex-grow: 1;
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  flex-shrink: 2;
}

.home__bio-container {
  background-color: rgb(255, 123, 0);
  order: 1;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 10px;
  flex-basis: 50%;
}

.home__education-container {
  background-color: rgb(255, 81, 0);
  order: 1;
  border-radius: 20px;
  padding: 5px;
  flex-basis: 50%;
}

.home__h3 {
  margin: 0 0 5px 0;
}

.home__paragraph {
  margin: 0;
  text-align: left;
}

.home__skills-container {
  background-color: lightskyblue;
  flex-basis: 100%;
  flex-grow: 1;
  order: 2;
}

.home__summary-container {
  background-color: lightcoral;
  flex-basis: 50%;
  flex-grow: 2;
  order: 3;
}

.home__qualities {
  background-color: olivedrab;
  flex-basis: 20%;
  flex-grow: 2;
  order: 4;
}

.home__languages-container {
  background-color: lightgrey;
  flex-basis: 20%;
  flex-grow: 1;
  order: 5;
}

.home__experiance-container {
  background-color: crimson;
  flex-basis: 100%;
  flex-grow: 1;
  order: 6;
}

@media only screen and (max-width: 1049px) {
  .home__avatar {
    flex-basis: 40%;
    flex-grow: 1;
  }

  .home__name {
    font-size: 2em;
    flex-basis: 40%;
    flex-grow: 1;
  }

  .home__bio-education {
    flex-basis: 100%;
    flex-grow: 1;
  }

  .home__summary-container {
    flex-basis: 100%;
    flex-grow: 1;
  }

  .home__qualities {
    flex-basis: 40%;
    flex-grow: 1;
  }

  .home__languages-container {
    flex-basis: 40%;
    flex-grow: 1;
  }
}

@media only screen and (max-width: 600px) {
  .home__page-item {
    flex-basis: 100%;
    flex-grow: 1;
  }
}
