.startpage__container {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to right,
    #264032,
    #2e4d3c,
    #365b47,
    #3e6952,
    #47775d,
    #4f8066,
    #578a6e,
    #5f9377,
    #689a7f,
    #71a087,
    #7ba78f,
    #84ae97
  );
  color: var(--active-color);
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.startpage__content-container {
  position: relative;
  height: 90%;
  width: 100%;
  overflow: hidden;
}

.startpage__background {
  height: 100%;
  width: 100%;
  background-image: url('../components/preheader_back.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
}

.startpage__background-1 {
  order: -1;
  left: -2%;
  animation: bgLeftToRight 16s ease-in-out infinite;
  width: 24%;
  z-index: 7;
}

.startpage__background-2 {
  filter: blur(1px) hue-rotate(5deg) brightness(90%);
  order: 0;
  left: 20%;
  animation: bgRightToLeft 16s ease-in-out infinite;
  width: 22%;
  z-index: 6;
}

.startpage__background-3 {
  filter: blur(2px) hue-rotate(10deg) brightness(80%);
  order: 1;
  left: 38%;
  animation: bgLeftToRight 16s ease-in-out infinite;
  width: 20%;
  z-index: 5;
}

.startpage__background-4 {
  filter: blur(3px) hue-rotate(15deg) brightness(70%);
  order: 2;
  left: 54%;
  animation: bgRightToLeft 16s ease-in-out infinite;
  width: 18%;
  z-index: 4;
}

.startpage__background-5 {
  filter: blur(4px) hue-rotate(20deg) brightness(60%);
  order: 3;
  left: 68%;
  animation: bgLeftToRight 16s ease-in-out infinite;
  width: 16%;
  z-index: 3;
}

.startpage__background-6 {
  filter: blur(5px) hue-rotate(25deg) brightness(50%);
  order: 4;
  left: 80%;
  animation: bgRightToLeft 16s ease-in-out infinite;
  width: 15%;
  z-index: 2;
}

.startpage__background-7 {
  filter: blur(6px) hue-rotate(30deg) brightness(40%);
  order: 5;
  flex-basis: 9%;
  left: 91%;
  animation: bgLeftToRight 16s ease-in-out infinite;
  width: 13%;
  z-index: 1;
}

@keyframes bgLeftToRight {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(2%);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes bgRightToLeft {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-2%);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0%);
  }
}

.startpage__contacts-container {
  position: absolute;
  z-index: 8;
  height: 60px;
  top: 15px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.startpage__content-lower {
  position: absolute;
  z-index: 8;
  bottom: 15px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.startpage__bio-container {
  order: 1;
  flex-basis: 45%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 15px;
}

.startpage__bio-centering {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.startpage__bio-name {
  text-align: start;
  margin: 5px 0;
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: white;
}

.startpage__bio-paragraph {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 100;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.startpage__button-container {
  order: 2;
  flex-basis: 10%;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.startpage__arrow-down_link {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.startpage__arrow-down_icon {
  color: var(--active-text-color);
  min-height: 50px;
  min-width: 100px;
  transform: scale(4, 1);
}

.startpage__arrow-down_icon:hover {
  animation: down-button-hover 1s ease-in-out infinite;
}

@keyframes down-button-hover {
  0% {
    transform: scale(4, 1) translateY(0px);
  }
  25% {
    transform: scale(4, 1) translateY(3px);
  }
  50% {
    transform: scale(4, 1) translateY(0px);
  }
  75% {
    transform: scale(4, 1) translateY(-3px);
  }
  100% {
    transform: scale(4, 1) translateY(0px);
  }
}

.startpage__skills-container {
  order: 2;
  flex-basis: 45%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 15px;
}

@media only screen and (max-width: 768px) {
  .startpage__bio-container {
    bottom: 180px;
    left: 0;
    justify-content: center;
  }

  .startpage__bio-centering {
    padding: 10px 10px;
  }

  .startpage__bio-name {
    font-size: 2.5rem;
  }

  .startpage__bio-paragraph {
    font-size: 1.8rem;
  }

  .startpage__skills-container {
    bottom: 0;
    right: 0;
    width: 100%;
  }

  .startpage__button-container {
    order: 2;
    flex-basis: 10%;
    min-width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .startpage__arrow-down_link {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
  }

  .startpage__arrow-down_icon {
    color: var(--active-text-color);
    min-height: 50px;
    min-width: 100px;
    transform: scale(3, 1);
  }

  .startpage__arrow-down_icon:hover {
    animation: down-button-hover 1s ease-in-out infinite;
  }

  @keyframes down-button-hover {
    0% {
      transform: scale(3, 1) translateY(0px);
    }
    25% {
      transform: scale(3, 1) translateY(3px);
    }
    50% {
      transform: scale(3, 1) translateY(0px);
    }
    75% {
      transform: scale(3, 1) translateY(-3px);
    }
    100% {
      transform: scale(3, 1) translateY(0px);
    }
  }
}

@media only screen and (max-width: 600px) {
  .startpage__contacts-container {
    justify-content: center;
  }

  .startpage__content-lower {
    flex-direction: column;
    align-items: flex-end;
  }

  .startpage__bio-container {
    width: 100%;
    padding-left: 0px;
  }

  .startpage__bio-centering {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .startpage__bio-name {
    font-size: 2.3rem;
    margin: 0;
  }

  .startpage__bio-name br {
    display: none;
  }

  .startpage__bio-paragraph {
    display: block;
    width: auto;
    justify-self: flex-end;
    font-size: 1.6rem;
  }

  .startpage__skills-container {
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
  }

  .startpage__button-container {
    width: 100%;
    order: 3;
  }
}

@media only screen and (max-width: 480px) {
  .startpage__background-4,
  .startpage__background-5,
  .startpage__background-6,
  .startpage__background-7 {
    display: none;
  }

  .startpage__background-1 {
    left: -2%;
    width: 37%;
  }

  .startpage__background-2 {
    left: 33%;
    width: 37%;
  }

  .startpage__background-3 {
    left: 66%;
    width: 37%;
  }

  .startpage__bio-centering {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .startpage__bio-name {
    margin-bottom: 5px;
  }

  .startpage__skills-container {
    height: 105px;
    flex-wrap: wrap;
    padding-top: 5px;
  }
}

@media only screen and (max-width: 320px) {
  .startpage__bio-name {
    font-size: 2.1rem;
  }

  .startpage__bio-paragraph {
    font-size: 1.5rem;
  }
}
