.career__item {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.career__item:last-child {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.career__item-represent {
  width: 100%;
  display: flex;
  justify-content: center;
}

.career__item-represent_text-background {
  background-color: var(--sidebar-background-color-opacity);
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.6);
}

.career__item-represent_text-background2,
.career__item-represent_text-background5,
.career__item-represent_text-background6 {
  display: none;
}

.career__item-represent_text {
  padding: 0;
  margin: 0;
  font-size: 2em;
}

.career__item-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 5px 0;
}

.career__item-date-container,
.career__item-company-container,
.career__item-position-container {
  display: flex;
  flex-basis: 32%;
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.career__item-date-container {
  flex-grow: 1;
  flex-shrink: 2;
}

.career__item-company-container,
.career__item-position-container {
  flex-grow: 2;
  flex-shrink: 1;
}

.career__text-position_background,
.career__text-company_background,
.career__text-date_background {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.6);
}

.career__text-position_background8,
.career__text-company_background8 {
  box-shadow: none;
}

.career__text-date,
.career__text-company,
.career__text-position {
  color: var(--active-text-color);
  padding: 0;
  margin: 0;
}

.career__ag1-company1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 30vh;
  z-index: 1;
}

.career__ag2-company1 {
  position: absolute;
  right: 0;
  top: 25%;
  height: 30vh;
  z-index: 1;
}

.career__ag3-company1 {
  position: absolute;
  left: 0;
  bottom: 20%;
  height: 30vh;
  z-index: 1;
}

.career__glass1-company2 {
  position: absolute;
  top: -15%;
  right: -10%;
  height: 40vh;
  z-index: 1;
}
.career__glass2-company2 {
  position: absolute;
  top: 25%;
  height: 40vh;
  z-index: 1;
  animation: horse-animation 2s ease-in-out infinite;
}
.career__glass3-company2 {
  position: absolute;
  bottom: 0;
  width: 20vh;
  z-index: 1;
  animation: glass-animation 4s ease-in-out infinite;
}

.career__pillBG1-company3 {
  position: absolute;
  left: -5%;
  bottom: 50%;
  width: 60vh;
  z-index: 2;
}

.career__pillBG2-company3 {
  position: absolute;
  right: -5%;
  bottom: 50%;
  width: 60vh;
  z-index: 1;
}

.career__pillBG3-company3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 30vh;
  z-index: 3;
}

.career__ost1-company4 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 90%;
  z-index: 3;
}

.career__hellm1-company5 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  z-index: 3;
}

.career__hellm2-company5 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  z-index: 3;
}

.career__rwd-company6 {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 40vh;
  z-index: 3;
}

.career__item-company-container7 {
  align-items: center;
}

.career__item-position-container7 {
  align-items: flex-end;
  padding-bottom: 10px;
}

.career__code1-company7 {
  position: absolute;
  bottom: 5px;
  left: 10%;
  width: 15%;
  animation: code-animation1 4s infinite;
}

.career__code2-company7 {
  position: absolute;
  top: 5px;
  left: 50%;
  width: 15%;
  animation: code-animation2 4s infinite;
}

.career__code3-company7 {
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 15%;
  animation: code-animation3 4s infinite;
}

.career__code4-company7 {
  position: absolute;
  top: 5px;
  right: 10%;
  width: 15%;
  animation: code-animation4 4s infinite;
}

.career__img {
  filter: brightness(80%);
  transition: filter 0.2s ease-in-out;
}

.career__img:hover {
  filter: brightness(95%);
  transition: filter 0.2s ease-in-out;
}

@keyframes horse-animation {
  0% {
    transform: rotate(-0.03turn);
  }
  25% {
    transform: rotate(0turn);
  }
  50% {
    transform: rotate(0.03turn);
  }
  75% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(-0.03turn);
  }
}

@keyframes glass-animation {
  0% {
    transform: rotate(0.05turn);
  }
  25% {
    transform: rotate(0turn);
  }
  50% {
    transform: rotate(-0.05turn);
  }
  75% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(0.05turn);
  }
}

@keyframes code-animation1 {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-30vh) rotate(-0.5turn);
  }
  50% {
    transform: translateY(-60vh);
  }
  75% {
    transform: translateY(-30vh) rotate(0.5turn);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes code-animation2 {
  0% {
    transform: translateX(-50%) translateY(0) rotate(-1turn);
  }
  25% {
    transform: translateX(-50%) translateY(10vh);
  }
  50% {
    transform: translateX(-50%) translateY(20vh) rotate(1turn);
  }
  75% {
    transform: translateX(-50%) translateY(10vh);
  }
  100% {
    transform: translateX(-50%) translateY(0) rotate(-1turn);
  }
}

@keyframes code-animation3 {
  0% {
    transform: translateX(-50%) translateY(0) rotate(-1turn);
  }
  25% {
    transform: translateX(-50%) translateY(-10vh);
  }
  50% {
    transform: translateX(-50%) translateY(-20vh) rotate(1turn);
  }
  75% {
    transform: translateX(-50%) translateY(-10vh);
  }
  100% {
    transform: translateX(-50%) translateY(0) rotate(-1turn);
  }
}

@keyframes code-animation4 {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(30vh) rotate(-0.5turn);
  }
  50% {
    transform: translateY(60vh);
  }
  75% {
    transform: translateY(30vh) rotate(0.5turn);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 760px) {
  .career__pillBG1-company3 {
    left: -25%;
  }
  .career__pillBG2-company3 {
    right: -25%;
  }
  .career__pillBG3-company3 {
    left: -20%;
  }
  .career__hellm1-company5 {
    bottom: 20%;
    left: -5%;
  }
  .career__hellm2-company5 {
    bottom: 20%;
    right: -5%;
  }
}

@media only screen and (max-width: 580px) {
  .career__pillBG1-company3 {
    left: -35%;
  }
  .career__pillBG2-company3 {
    right: -35%;
  }
  .career__pillBG3-company3 {
    left: -40%;
    top: 10%;
  }
  .career__hellm1-company5 {
    bottom: 30%;
    left: -5%;
  }
  .career__hellm2-company5 {
    bottom: 30%;
    right: -5%;
  }
  .career__rwd-company6 {
    top: 10%;
  }
  .career__item-represent_text {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 480px) {
  .career__text-date,
  .career__text-company,
  .career__text-position {
    font-size: 12px;
  }
  .career__ag1-company1 {
    left: -20%;
  }
  .career__ag2-company1 {
    right: -20%;
  }
  .career__ag3-company1 {
    left: -20%;
  }
  .career__glass1-company2 {
    right: -40%;
  }

  .career__pillBG1-company3 {
    width: 30vh;
    left: -15%;
  }
  .career__pillBG2-company3 {
    width: 30vh;
    right: -15%;
  }
  .career__pillBG3-company3 {
    width: 20vh;
    top: 20%;
    left: -30%;
  }
  .career__hellm1-company5 {
    bottom: 40%;
    left: 0;
  }
  .career__hellm2-company5 {
    bottom: 40%;
    right: 0;
  }
  .career__item-represent_text {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 340px) {
  .career__text-date,
  .career__text-company,
  .career__text-position {
    font-size: 10px;
  }
  .career__glass1-company2 {
    right: -50%;
  }
  .career__glass2-company2 {
    top: 25%;
    width: 33vh;
  }
  .career__pillBG3-company3 {
    top: 15%;
  }
  .career__hellm1-company5 {
    left: -10%;
  }
  .career__hellm2-company5 {
    right: -10%;
  }
  .career__rwd-company6 {
    top: 15%;
  }
  .career__item-represent_text {
    font-size: 1.1em;
  }
}
