.chip_item {
  width: 180px;
  height: 50px;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--active-text-color);
  border-radius: 25px;
  box-sizing: border-box;
  color: var(--active-text-color);
  margin-bottom: 15px;
}

.chip_item:last-child {
  margin-bottom: 0px;
}

.chip_icon-container {
  width: 50px;
  height: 50px;
  border: 1px solid var(--active-text-color);
  border-radius: 25px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chip_icon {
  color: var(--active-text-color);
  padding: 0;
  font-size: 20px;
  transform: scale(0.8);
  transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;
}

.chip_text-container {
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chip_paragraph {
  color: var(--active-text-color);
  padding: 0;
  font-size: 20px;
  transform: scale(0.8);
  transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;
}

.chip_item:hover .chip_icon,
.chip_item:hover .chip_paragraph {
  font-weight: bold;
  transform: scale(1);
  transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .chip_item {
    width: 150px;
    margin: 0 5px 15px 0;
  }

  .chip_text-container {
    width: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .chip_item {
    width: 115px;
    margin: 0 5px 5px 0;
  }

  .chip_item:last-child {
    margin: 0 0 5px 0;
  }

  .chip_text-container {
    width: 65px;
  }

  .chip_paragraph {
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  .chip_item {
    width: 154px;
    margin: 0 5px 5px 0;
  }

  .chip_item:last-child {
    margin: 0 0 5px 0;
  }

  .chip_text-container {
    width: 104px;
  }

  .chip_icon,
  .chip_paragraph {
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .chip_item {
    width: 50px;
    margin: 5px;
  }

  .chip_text-container {
    display: none;
  }
}
