.contacts__list {
  display: flex;
  flex-direction: row;
  width: 420px;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.contacts__link {
  font-size: 36px;
  transform: scale(0.55);
  min-height: 60px;
  min-width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--active-text-color);
  opacity: 0.8;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.contacts__link:hover {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

@media only screen and (max-width: 665px) {
  .contacts__list {
    width: 390px;
  }

  .contacts__link {
    font-size: 36px;
    min-height: 55px;
    min-width: 55px;
  }
}

@media only screen and (max-width: 635px) {
  .contacts__list {
    width: 360px;
  }

  .contacts__link {
    font-size: 36px;
    min-height: 50px;
    min-width: 50px;
  }
}

@media only screen and (max-width: 605px) {
  .contacts__list {
    width: 330px;
  }

  .contacts__link {
    font-size: 36px;
    min-height: 45px;
    min-width: 45px;
  }
}

@media only screen and (max-width: 575px) {
  .contacts__list {
    width: 300px;
  }

  .contacts__link {
    font-size: 36px;
    min-height: 40px;
    min-width: 40px;
  }
}

@media only screen and (max-width: 575px) {
  .contacts__list {
    width: 270px;
  }

  .contacts__link {
    font-size: 35px;
    min-height: 35px;
    min-width: 35px;
  }
}

@media only screen and (max-width: 344px) {
  .contacts__list {
    width: 240px;
  }

  .contacts__link {
    font-size: 30px;
    min-height: 30px;
    min-width: 30px;
  }
}
