.header__container {
  height: 120px;
  padding: 5px 15px;
  background-image: linear-gradient(
    to bottom,
    #59a5d8,
    #57a2d4,
    #559ecf,
    #549bcb,
    #5298c7
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__opacity-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
}
/*вот тут вот*/
.header__opacity-container_visible {
  opacity: 1;
}
/*вот тут вот*/

.header__avatar-name-container {
  order: -1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-basis: 30%;
}

.header__avatar-container {
  overflow: hidden;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__avatar {
  border-radius: 50%;
  max-width: 110px;
  max-height: 110px;
  display: block;
}

.header__name {
  margin: 0px;
}

.header__contacts-container {
  order: 0;
  flex-basis: 60%;
}

.header__contact-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}

.header__contact-item {
  box-sizing: border-box;
  border: 1px solid var(--background-hover-color);
  width: 110px;
  height: 110px;
  border-radius: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__contact-item:hover {
  background-image: linear-gradient(
    to right top,
    #386fa4,
    #458cbb,
    #58aad0,
    #72c7e3,
    #91e5f6
  );
  cursor: pointer;
  font-weight: bold;
}

.header__lang-container {
  order: 1;
  flex-basis: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.header__language-btn {
  padding: 5px;
  color: var(--active-color);
  background-color: #569ecf;
  border: 1px solid var(--background-hover-color);
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 13px;
  height: 30px;
  width: 30px;
  margin-right: 5px;
  text-align: center;
}

.header__language-btn:last-child {
  margin-right: 0px;
}

.header__language-btn:hover {
  background-image: linear-gradient(
    to top,
    #386fa4,
    #458cbb,
    #58aad0,
    #72c7e3,
    #91e5f6
  );
  cursor: pointer;
  font-weight: bold;
}
