.text {
  padding: 0;
  margin: 0 0 10px 0;
}

.text__is-hidden {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text__is-shown {
  white-space: pre-wrap;
  overflow: visible;
}

.text__show-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  color: rgb(49, 49, 49);
  cursor: pointer;
  margin: 0 0 10px 0;
  cursor: pointer;
}
