.preheader__container {
  margin: 0;
  padding: 0;

  background-image: linear-gradient(
    to bottom,
    #91e5f6,
    #7ed5ef,
    #6ec6e8,
    #62b5e1,
    #59a5d8
  );
  color: var(--active-color);
  height: 100vh;
  position: sticky;
  top: 0px;
}
.preheader__opacity-container {
  opacity: 0;
}
.preheader__opacity-container_visible {
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
/* 
.preheader__img-container {
  flex-basis: 40%;
  flex-grow: 4;
  flex-shrink: 6;
  order: -1;
  height: 100vh;
  background-image: url('./preheader_back.jpg');
  background-size: contain;
  background-position: center;
  overflow: hidden; 
}*/
/* 
.preheader__contacts-container {
  flex-basis: 60%;
  flex-grow: 6;
  flex-shrink: 4;
  order: 0;
  height: 100vh;
  background-color: blue;
}

.preheader__bio-container {
  position: absolute;
  background-color: green;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 50%;
}

.preheader__bio-name {
  margin-bottom: 5px;
}

.preheader__bio-paragraph {
  margin: 0;
} */
