.bar__wrapper {
  width: 100%;
  height: 22px;
  border-radius: 11px;
  background-color: black;
  display: flex;
  align-items: center;
  padding: 0 2px;
  overflow: hidden;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
}

.bar__stripe {
  height: 18px;
  border-radius: 9px;
  background-image: linear-gradient(
    to bottom,
    #264032,
    #2e4d3c,
    #365b47,
    #3e6952,
    #47775d,
    #4f8066,
    #578a6e,
    #5f9377,
    #689a7f,
    #71a087,
    #7ba78f,
    #84ae97
  );
}

.bar__wrapper-unvisible {
  width: 80px;
  height: 0px;
  border-radius: 11px;
  background-color: black;
  display: flex;
  align-items: center;
  padding: 0 2px;
  overflow: hidden;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
}
