.bar__wrapper {
  width: 100%;
  height: 22px;
  border-radius: 11px;
  background-color: black;
  display: flex;
  align-items: center;
  padding: 0 2px;
  overflow: hidden;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
}

.bar__stripe {
  height: 18px;
  border-radius: 9px;
  background-image: linear-gradient(
    to right,
    #cd7071,
    #cf6b6c,
    #d06667,
    #d26061,
    #d35b5c,
    #d55556,
    #d74f4f,
    #d94849,
    #dd3f3f,
    #e03435,
    #e2282a,
    #e4171e
  );
}

.bar__wrapper-unvisible {
  width: 80px;
  height: 0px;
  border-radius: 11px;
  background-color: black;
  display: flex;
  align-items: center;
  padding: 0 2px;
  overflow: hidden;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
}
