.text__container-visible {
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.text__container-unvisible {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
