body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  background-color: rgb(150, 141, 141);
  align-items: center;
  min-height: 10vh;
}

.header__logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-img {
  color: azure;
  font-size: 24px;
  margin-right: 10px;
}

.header__logo-text {
  color: azure;
  font-size: 24px;
  font-weight: bolder;
  text-transform: uppercase;
}

.header__navbar {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.header-link__is-active {
  font-weight: bolder;
  border-bottom: 3px solid azure;
}

.header__link {
  text-decoration: none;
  color: azure;
  font-size: 15px;
  text-transform: uppercase;
  transition: 0.2s;
}

.sidebar {
  border-right: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(187, 187, 187);
  color: rgb(41, 41, 41);
  text-align: left;
  height: 100%;
}

.sidebar__toggle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 28px;
  padding: 0px 10px 0px 12px;
  background-color: rgb(187, 187, 187);
  border: currentColor;
  outline: none;
  cursor: pointer;
  width: 100%;
}

.sidebar__toggle:hover {
  background-color: rgb(150, 141, 141);
}

.sidebar__button-container {
  margin: 0;
  list-style: none;
  color: rgb(41, 41, 41);
  padding: 0;
}

.sidebar__button-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 28px;
  padding: 0px 10px;
  cursor: pointer;
  width: 18px;
  overflow: hidden;
  transition-duration: 0.5s;
}

.sidebar__button-link:hover {
  background-color: rgb(150, 141, 141);
}

.sidebar__button-open {
  width: 110px;
}

.sidebar__button-logo {
  padding-right: 15px;
}

.sidebar__button-container a {
  color: rgb(41, 41, 41);
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}
